.tabqh {
    height: 100%;
    position: relative;
}

.tabqh .menu {
    height: 32px;
}

.tabqh .menu ul {
    margin: 0px;
    padding: 0px;
    height: 26px;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabqh .menu li {
    display: block;
    float: left;
    height: 26px;
    line-height: 26px;
    margin-right: 0.2%;
    margin-top: 3px;
    width: 24.5%;
}

.tabqh .menu li a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    display: block;
    background-color: #373965;
}

.tabqh .menu li a.tabactive {
    color: #ffffff;
    font-weight: bold;
    background-color: #b50d1b;
}

.tabqh .tabdiv ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-indent: 15px;
}

.tabqh .tabdiv ul li a {
    text-decoration: none;
    color: #000000;
}

.tabqh .tabdiv ul li a:hover {
    color: #ff0000;
}

.tabqh .tabdiv {
    font-size: 12px;
    text-align: left;
    top: 32px;
    width: 100%;
    border-top: none;
}

.table {
    /*overflow: hidden;*/
    white-space: nowrap;
}


body{
    margin: 0px;
}

/* #tabcontent4, #tabcontent5{ */
    /* display: grid; */
/* } */

h1{
    margin-top: 0px;
    padding-top: 1%;
}