.tabqh {
    height: 100%;
    position: relative;
}

.tabqh .menu {
    height: 32px;
}

.tabqh .menu ul {
    margin: 0px;
    padding: 0px;
    height: 26px;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabqh .menu li {
    display: block;
    float: left;
    height: 26px;
    line-height: 26px;
    margin-right: 4px;
    margin-top: 5px;
    width: 24.5%;
}

.tabqh .menu li a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    display: block;
    background-color: #373965;
}

.tabqh .menu li a.tabactive {
    color: #ffffff;
    font-weight: bold;
    background-color: #b50d1b;
}

.tabqh .tabdiv ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-indent: 15px;
}

.tabqh .tabdiv ul li a {
    text-decoration: none;
    color: #000000;
}

.tabqh .tabdiv ul li a:hover {
    color: #ff0000;
}

.tabqh .tabdiv {
    font-size: 12px;
    position: absolute;
    text-align: left;
    top: 32px;
    width: 100%;
    border-top: none;
}

.table {
    /*overflow: hidden;*/
    white-space: nowrap;
}

.text-header {
    /*float: left;*/
    display: inline-block;
    white-space: nowrap;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.text-header>.after {
    content: '';
    height: 2px;
    width: 20px;
    background: black;
    position: absolute;
    left: 100%;
    top: 50%;
    border: none;
}

.text-header>.before {
    content: '';
    height: 2px;
    width: 20px;
    background: black;
    position: absolute;
    right: 100%;
    top: 50%;
    border: none;
}

.text-header>div {
    /* background-color: #FEB1B2;  */
    background-color: #B2AFFF;
    color: black;
    width: 180px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    border: 2px black solid;
}



.content {
    /*float: left;*/
    display: inline-block;
    white-space: nowrap;

}


/*线条*/
.line,
.line-only {
    /*float: left;*/
    display: inline-block;
    white-space: nowrap;

}

.line>div,
.line-only>div {
    height: 29px;
    width: 30px;
}

/* .table>.tr{
    border-left: 1px solid red;
} */
.tr>div {
    vertical-align: middle;
}

.tr {
    position: relative;
}

.tr>.tr_children {
    position: absolute;
    left: 0%;
    height: 100%;
    width: 2px;
    background: black;
    bottom: 0%;
    /* border-left: 1px solid red; */
}

.table>.tr:first-child>.tr_children {
    position: absolute;
    left: 0%;
    height: 50%;
    width: 2px;
    background: black;
    top: 50%;
}

.table>.tr:last-child>.tr_children {
    position: absolute;
    left: 0%;
    height: 50%;
    width: 2px;
    background: black;
    bottom: 50%;
}

.tr>.line>div:nth-of-type(1) {
    display: inline-block;
    white-space: nowrap;

    border-left: 1px dashed red;
    border-bottom: 1px dashed red;
}

.tr>.line>div:nth-of-type(2) {
    border-left: 1px dashed red;
}

.tr:nth-of-type(1)>.line>div:nth-of-type(1) {
    border-left: none;
}

.tr:nth-last-child(1)>.line>div:nth-of-type(2) {
    border-left: none;
}

.line-only>div:nth-of-type(1) {
    border-bottom: 1px dashed red;
}

#l-map{height:520px;width:640px; margin: auto;}

.hiddendiv {
    display: none;
}